.header__logo--mun{
    margin-left: 24px;
    width:10vw
}
.header__logo--sit{
    margin-left: 24px;
    width:8vw;
}
@media screen and (max-width:768px) {
    .header__logo--mun{
        display:none;
    }
    .header__logo--sit{
        display: none;
    }
    .header__title{
        display:none;
    }
    
}